/* width */
body {
  overflow-x: hidden !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f141a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  z-index: 9999999999;
  transition: 0.5s ease-in-out;
  transform: translate(0px, 60px);
}

.dot {
  z-index: -2000;
  position: absolute;
  transition: 0.5s ease-in-out;
  width: 0px;
  height: 0px;
  background-color: #abc9f5;
  opacity: 0;
  border-radius: 50%;
  transform: translate(0px, 0px);
}

@media (max-width: 1124px) {
  .main-img {
    opacity: 0;
    width: 0%;
  }
  .dot {
    width: 900px;
    height: 800px;

    transform: translate(0px, -500px);

    border-radius: 50%;
    opacity: 1;
  }
}

@media (max-width: 870px) {
  .main-img {
    opacity: 0;
    width: 0%;
  }
  .dot {
    width: 700px;
    height: 800px;

    transform: translate(-500px, 0px);

    border-radius: 50%;
    opacity: 1;
  }
}

@media (max-width: 570px) {
  .main-img {
    opacity: 0;
    width: 0%;
  }
  .dot {
    transform: translate(-400px, 0px);
  }
}

.text {
  color: #0f141a;
}

.card {
  border-radius: 0.7rem;
}

.courses_content_name {
  color: white;
  font-size: 1.728rem;
  font-weight: bolder;
  letter-spacing: 3px;
}
.courses_content_title {
  color: #0f141a;
  font-size: 1.728rem;
  font-weight: bolder;
  letter-spacing: 3px;
}
.courses_content_teacher {
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
}
.courses_content_information {
  color: #0f141a;
  font-size: 12px;
}
.sidnav_courses_content {
  text-decoration: none;
  color: #0f141a;
  font-size: 1rem;
  letter-spacing: 2px;
}

/* Start Video */
.video {
  position: relative;
}

.video video {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

/* End Video */

/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ebeff4;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: #58779d;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

.fav {
  height: 20px;
}

/* End Features */
