/* width */
::-webkit-scrollbar 
{
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #0F141A; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: grey; 
}

.text
{
    color: #0F141A;
}

.card {
  border-radius: .7rem;
}

.courses_content_name
{
    color: white;
    font-size: 1.728rem;
    font-weight: bolder;
    letter-spacing: 3px;
}
.courses_content_title
{
    color: #0F141A;
    font-size: 1.728rem;
    font-weight: bolder;
    letter-spacing: 3px;
}
.courses_content_teacher
{
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
}
.courses_content_information
{
    color: #0F141A;
    font-size: 12px;
}
.sidnav_courses_content
{
    text-decoration: none;
    color: #0F141A;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* Start Video */
.video {
    position: relative;
  }
 
  .video video {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  /* End Video */

  
/* Start Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #EBEFF4;
  }
  
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .features .feat {
    padding: 20px;
    text-align: center;
  }
  
  .features .feat i {
    color: #58779D;
  }
  
  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }
  
  .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  
  /* End Features */